In [1]:
import pandas as pd

In [2]:
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"])
bigmac.head(3)

        Date    Country  Price in US Dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35

In [6]:
# can supply list to keys parameter to create two keys
bigmac.set_index(keys = ["Date", "Country"])

bigmac.set_index(keys = ["Country", "Date"])
# Best practice, take column with less unique dates and use that as the outermost key

                          Price in US Dollars
Country       Date
Argentina     2016-01-01                 2.39
Australia     2016-01-01                 3.74
Brazil        2016-01-01                 3.35
Britain       2016-01-01                 4.22
Canada        2016-01-01                 4.14
...                                       ...
Turkey        2010-01-01                 3.83
UAE           2010-01-01                 2.99
Ukraine       2010-01-01                 1.83
United States 2010-01-01                 3.58
Uruguay       2010-01-01                 3.32

[652 rows x 1 columns]

In [17]:
bigmac.nunique()

Price in US Dollars    330
dtype: int64

In [24]:
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"])

bigmac.set_index(keys = ["Date", "Country"], inplace = True)

bigmac.head(3)

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39
           Australia                 3.74
           Brazil                    3.35

In [25]:
bigmac.sort_index()

                          Price in US Dollars
Date       Country
2010-01-01 Argentina                     1.84
           Australia                     3.98
           Brazil                        4.76
           Britain                       3.67
           Canada                        3.97
...                                       ...
2016-01-01 Ukraine                       1.54
           United States                 4.93
           Uruguay                       3.74
           Venezuela                     0.66
           Vietnam                       2.67

[652 rows x 1 columns]

In [26]:
bigmac.head(3)

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39
           Australia                 3.74
           Brazil                    3.35

In [28]:
bigmac.index

bigmac.index.names

FrozenList(['Date', 'Country'])

In [34]:
# type(bigmac.index)
bigmac.index[10]
#type(bigmac.index[10])

(Timestamp('2016-01-01 00:00:00'), 'Denmark')

In [37]:
# get_level_values Method
# can use index_col to create multiindex at import
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"], index_col = ["Date", "Country"])
bigmac.sort_index(inplace = True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [40]:
# get_level_values
bigmac.index.get_level_values("Date")
bigmac.index.get_level_values(0)

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01'],
              dtype='datetime64[ns]', name='Date', length=652, freq=None)

In [42]:
#bigmac.index.get_level_values("Country")
bigmac.index.get_level_values(1)  # equivalent

Index(['Argentina', 'Australia', 'Brazil', 'Britain', 'Canada', 'Chile',
       'China', 'Colombia', 'Costa Rica', 'Czech Republic',
       ...
       'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'UAE', 'Ukraine',
       'United States', 'Uruguay', 'Venezuela', 'Vietnam'],
      dtype='object', name='Country', length=652)

In [43]:
# set_names method
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"], index_col = ["Date", "Country"])
bigmac.sort_index(inplace = True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [46]:
bigmac.index.set_names( names = ["Day", "Location"], inplace = True)

In [47]:
bigmac.head(3)

                      Price in US Dollars
Day        Location
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [50]:
bigmac.index.set_names(names = "Date", level = 0)
bigmac.index.set_names(names = "Date", level = "Day", inplace = True)

In [51]:
bigmac.head(3)

                      Price in US Dollars
Date       Location
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [52]:
# sort_index method on multiindex DataFrame
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"], index_col = ["Date", "Country"])
bigmac.head(3)

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39
           Australia                 3.74
           Brazil                    3.35

In [53]:
bigmac.sort_index()

                          Price in US Dollars
Date       Country
2010-01-01 Argentina                     1.84
           Australia                     3.98
           Brazil                        4.76
           Britain                       3.67
           Canada                        3.97
...                                       ...
2016-01-01 Ukraine                       1.54
           United States                 4.93
           Uruguay                       3.74
           Venezuela                     0.66
           Vietnam                       2.67

[652 rows x 1 columns]

In [54]:
bigmac.sort_index(ascending = False)

                          Price in US Dollars
Date       Country
2016-01-01 Vietnam                       2.67
           Venezuela                     0.66
           Uruguay                       3.74
           United States                 4.93
           Ukraine                       1.54
...                                       ...
2010-01-01 Canada                        3.97
           Britain                       3.67
           Brazil                        4.76
           Australia                     3.98
           Argentina                     1.84

[652 rows x 1 columns]

In [57]:
# customize sort order by passing list of boolean to ascending parameter
bigmac.sort_index(ascending = [False, True], inplace = True)

In [58]:
bigmac.head()

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39
           Australia                 3.74
           Austria                   3.76
           Belgium                   4.25
           Brazil                    3.35

In [63]:
bigmac.sort_index(level = 0)
bigmac.sort_index(level = "Date")

bigmac.sort_index(level = 1)
bigmac.sort_index(level = "Country", ascending = False)

                      Price in US Dollars
Date       Country
2016-01-01 Vietnam                   2.67
2015-07-01 Vietnam                   2.75
2015-01-01 Vietnam                   2.81
2014-07-01 Vietnam                   2.83
2014-01-01 Vietnam                   2.84
...                                   ...
2012-07-01 Argentina                 4.16
2012-01-01 Argentina                 4.64
2011-07-01 Argentina                 4.84
2010-07-01 Argentina                 3.56
2010-01-01 Argentina                 1.84

[652 rows x 1 columns]

In [64]:
# extract rows from a MultiIndex DataFrame
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"], index_col = ["Date", "Country"])
bigmac.sort_index(inplace = True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [67]:
#alternative, less ideal method
bigmac.loc["2010-01-01", "Argentina"] # returns DataFrame if levels are in order

bigmac.loc["2010-01-01", "Price in US Dollars"]  # returns MultiIndex Series, if level is not in order,

Country
Argentina         1.84
Australia         3.98
Brazil            4.76
Britain           3.67
Canada            3.97
Chile             3.18
China             1.83
Colombia          3.91
Costa Rica        3.52
Czech Republic    3.71
Denmark           5.99
Egypt             2.38
Euro area         4.84
Hong Kong         1.91
Hungary           3.86
Indonesia         2.24
Israel            3.99
Japan             3.50
Latvia            3.09
Lithuania         2.87
Malaysia          2.08
Mexico            2.50
New Zealand       3.61
Norway            7.02
Pakistan          2.42
Peru              2.81
Philippines       2.21
Poland            2.86
Russia            2.34
Saudi Arabia      2.67
Singapore         3.19
South Africa      2.46
South Korea       2.98
Sri Lanka         1.83
Sweden            5.51
Switzerland       6.30
Taiwan            2.36
Thailand          2.11
Turkey            3.83
UAE               2.99
Ukraine           1.83
United States     3.58
Uruguay           3.32
Name: Price in US Dollars, dtype: float64

In [74]:
# ideal method is by using a tuple
bigmac.loc[("2010-01-01", "Argentina"), ["Price in US Dollars", "Price in US Dollars"]]

Price in US Dollars    1.84
Price in US Dollars    1.84
Name: (2010-01-01 00:00:00, Argentina), dtype: float64

In [78]:
bigmac.loc[("2010-01-01",)]

                Price in US Dollars
Country
Argentina                      1.84
Australia                      3.98
Brazil                         4.76
Britain                        3.67
Canada                         3.97
Chile                          3.18
China                          1.83
Colombia                       3.91
Costa Rica                     3.52
Czech Republic                 3.71
Denmark                        5.99
Egypt                          2.38
Euro area                      4.84
Hong Kong                      1.91
Hungary                        3.86
Indonesia                      2.24
Israel                         3.99
Japan                          3.50
Latvia                         3.09
Lithuania                      2.87
Malaysia                       2.08
Mexico                         2.50
New Zealand                    3.61
Norway                         7.02
Pakistan                       2.42
Peru                           2.81
Philippines                    2.21
Poland                         2.86
Russia                         2.34
Saudi Arabia                   2.67
Singapore                      3.19
South Africa                   2.46
South Korea                    2.98
Sri Lanka                      1.83
Sweden                         5.51
Switzerland                    6.30
Taiwan                         2.36
Thailand                       2.11
Turkey                         3.83
UAE                            2.99
Ukraine                        1.83
United States                  3.58
Uruguay                        3.32

In [79]:
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [82]:
bigmac.iloc[0]
bigmac.iloc[10]
bigmac.iloc[[1, 20, 30, 250]]

                      Price in US Dollars
Date       Country
2010-01-01 Australia                 3.98
           Malaysia                  2.08
           Singapore                 3.19
2012-07-01 Turkey                    4.52

In [13]:
# transpose
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"], index_col = ["Date", "Country"])
bigmac.sort_index(inplace = True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [14]:
bigmac = bigmac.transpose()
bigmac.head(3)

Date                2010-01-01                                              \
Country              Argentina Australia Brazil Britain Canada Chile China
Price in US Dollars       1.84      3.98   4.76    3.67   3.97  3.18  1.83

Date                                                    ...  2016-01-01  \
Country             Colombia Costa Rica Czech Republic  ... Switzerland
Price in US Dollars     3.91       3.52           3.71  ...        6.44

Date                                                                    \
Country             Taiwan Thailand Turkey   UAE Ukraine United States
Price in US Dollars   2.08     3.09   3.41  3.54    1.54          4.93

Date
Country             Uruguay Venezuela Vietnam
Price in US Dollars    3.74      0.66    2.67

[1 rows x 652 columns]

In [20]:
bigmac.loc[("Price in US Dollars",), ("2010-01-01","Sri Lanka"):("2010-01-01", "Ukraine")]

Date                2010-01-01                                            \
Country              Sri Lanka Sweden Switzerland Taiwan Thailand Turkey
Price in US Dollars       1.83   5.51         6.3   2.36     2.11   3.83

Date
Country               UAE Ukraine
Price in US Dollars  2.99    1.83

In [22]:
# .swaplevel to swap index
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"], index_col = ["Date", "Country"])
bigmac.sort_index(inplace = True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [29]:
bigmac.swaplevel()

bigmac.swaplevel("Date", "Country")
bigmac.swaplevel("Country", "Date")

bigmac.swaplevel(0, 1)
bigmac.swaplevel(1, 0)

                          Price in US Dollars
Country       Date
Argentina     2010-01-01                 1.84
Australia     2010-01-01                 3.98
Brazil        2010-01-01                 4.76
Britain       2010-01-01                 3.67
Canada        2010-01-01                 3.97
...                                       ...
Ukraine       2016-01-01                 1.54
United States 2016-01-01                 4.93
Uruguay       2016-01-01                 3.74
Venezuela     2016-01-01                 0.66
Vietnam       2016-01-01                 2.67

[652 rows x 1 columns]

In [31]:
bigmac = bigmac.swaplevel(1, 0)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76