In [1]:
import pandas as pd
import datetime as dt

In [4]:
someday = dt.date(2010, 1, 20)

In [8]:
someday.year
someday.month
someday.day

20

In [12]:
dt.datetime(2010, 1, 20, 8, 13, 57)

datetime.datetime(2010, 1, 20, 8, 13, 57)

In [13]:
str(someday) #

'2010-01-20'

In [14]:
str(dt.datetime(2010, 1, 20, 8, 13, 57))

'2010-01-20 08:13:57'

In [16]:
sometime = dt.datetime(2010, 1, 20, 8, 13, 57)

In [22]:
sometime.year
sometime.month
sometime.day
sometime.hour
sometime.minute
sometime.second

57

In [28]:
# timeStamp Object
# pandas version of Python's datetime
pd.Timestamp("2015-03-31")
pd.Timestamp("2015/03/01")
pd.Timestamp("2013, 11, 04")
pd.Timestamp("2021-03-08 08:35:15")
pd.Timestamp("2021-03-08 6:13:29 PM")

Timestamp('2021-03-08 18:13:29')

In [29]:
pd.Timestamp(dt.date(2015, 1, 15))

Timestamp('2015-01-15 00:00:00')

In [30]:
pd.Timestamp(dt.datetime(2000, 2, 3, 9, 35, 22))

Timestamp('2000-02-03 09:35:22')

In [33]:
#pandas datetime index object
dates = ["2016-01-02", "2016-04-12", "2009-09-07"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [36]:
dates = [dt.date(2016, 1, 10), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]
dtIndex = pd.DatetimeIndex(dates)

In [37]:
values = [100, 200, 300]
pd.Series(data = values, index = dtIndex)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

In [42]:
# pd.to_datetime() Method
pd.to_datetime("2001-04-19")
pd.to_datetime(dt.date(2015, 1, 1))
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 35, 20))
pd.to_datetime(["2015-01-01", "2014/02/08", "2016", "July 4, 1996"])

DatetimeIndex(['2015-01-01', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [45]:
times = pd.Series(pd.to_datetime(["2015-01-01", "2014/02/08", "2016", "July 4, 1996"]))
times

0   2015-01-01
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [46]:
pd.to_datetime(times)

0   2015-01-01
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [49]:
dates = pd.Series(["July 4th, 1996", "10/4/1991", "Hello", "2015-02-31"])

In [50]:
dates

0    July 4th, 1996
1         10/4/1991
2             Hello
3        2015-02-31
dtype: object

In [53]:
pd.to_datetime(dates, errors = "coerce")  # coerce allows the conversion of datetime and invalid values will be turned to NaT (Not a Time)

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [56]:
pd.to_datetime([1349720105, 1349806505, 1349892905, 1349979305, 1350065705], unit = "s")

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)